<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <properties resource="./ad_properties_sqlmap.config"/>
  
  <settings>
    <setting useStatementNamespaces="true"/>
    <setting cacheModelsEnabled="true"/>
  </settings>

  <providers resource="./providers.config"/>

  <database>
    <provider name="sqlServer2.0"/>
    <dataSource name="ad" connectionString="Server=${datasource}; User ID=${userid};Password=${password};Database=${database};Persist Security Info=True"/>
  </database>

  <sqlMaps>
    <sqlMap embedded="${root}WebSite.xml, ${assymbly}"/>
    <sqlMap embedded="${root}Channel.xml, ${assymbly}"/>
    <sqlMap embedded="${root}Position.xml, ${assymbly}"/>
    <sqlMap embedded="${root}AdCategory.xml, ${assymbly}"/>
    <sqlMap embedded="${root}AdCategoryDetail.xml, ${assymbly}"/>
    <sqlMap embedded="${root}Ad.xml, ${assymbly}"/>
    <sqlMap embedded="${root}AdAttachment.xml, ${assymbly}"/>
    <sqlMap embedded="${root}AdPub.xml, ${assymbly}"/>
    <sqlMap embedded="${root}Stat.xml, ${assymbly}"/>
  </sqlMaps>

</sqlMapConfig>
